- title 'Ranking chart for {first_name} and {second_name}'[:ranking_chart_for, @people.first.name, @people.last.name]

%h3= 'Ranking chart for {first_name} and {second_name}'[:ranking_chart_for, @people.first.name, @people.last.name]
#graph= graph(formatted_team_url(params[:id], :graph))