#logs
  = link_to css_image_tag('rss.gif'), log_feed_url(current_game), :class => 'rss'
  
  %h3= 'Events'[]
  .list
    - logs.each do |log|
      %span.log{ :class => log == logs.last ? 'last' : nil }
        = log_link log
        
- content_for :head do
  = auto_discovery_link_tag :atom, log_feed_url(current_game), :title => 'Events for {account}'[:event_for_account, current_account.name]