.list
  %h3 Recent matches
  %table
    %tr
      %th.name Team one
      %th.score Score
      %th.name Team two
      %th &nbsp;

    - recent_matches.each do |match|
      %tr{ :class => cycle('even', 'odd') }
        = render :partial => 'matches/match_columns', :locals => { :match => match }
    - reset_cycle