log/*.log
tmp/cache/*
tmp/pids/*
tmp/sessions/*
tmp/sockets/*
.DS_Store
public/cache/**/*
doc/api
doc/app
config/database.yml
config/deploy.rb
public/mugshots
.project
.loadpath
nbproject
vendor/plugins/goldspike