.body= simple_format(h(comment.body.strip))
- if comment.user_id == current_user.id
  .edit= link_to_remote 'Edit', :update => "content_#{comment.id}", :url => edit_game_match_comment_path(comment.match.game_id, comment.match, comment)