<% form_for @comment, :url => game_match_comment_path(@comment.match.game_id, @comment.match_id, @comment.id) do |f| %>
  <%= render :partial => 'comments/form', :locals => { :f => f } %>
  <p>
    <%= submit_tag t('comments.save_changes') %>
    <%= link_to_remote t('comments.cancel'), :update => "content_#{@comment.id}", :url => game_match_comment_path(@comment.match.game_id, @comment.match_id, @comment.id) %>
  </p>
<% end %>
