<% form_for @comment, :url => match_comment_path(@comment.match_id, @comment.id) do |f| %>
  <%= render :partial => 'comments/form', :locals => { :f => f } %>
  <p>
    <%= submit_tag 'Save changes'[] %>
    <%= link_to_remote 'Cancel', :update => "content_#{@comment.id}", :url => match_comment_path(@comment.match_id, @comment.id) %>
  </p>
<% end %>