- title 'Ranking chart for {name}'[:ranking_chart_for, @person.full_name]

%h3= 'Ranking chart for {name}'[:ranking_chart_for, @person.full_name]
#graph= graph(formatted_person_games_url(@person.id, :graph))