th
  :text-align left
  
table
  :margin 0

#header
  :background-color #DDDDDD
  
  h1
    :margin 0
    :padding 20px
    
    a
      :text-decoration none
      :color #000000
   
  #links
    :float right
    :padding 20px

    #user
      :display inline
      :padding-right 10px 
    
    #languages
      :display inline
    
  ul#menu
    :margin 0
    :border-bottom 1px solid #000000
    :list-style-type none
    :padding 3px 20px 3px 20px
    
    li
      :display inline
      
      a
        :padding 3px 4px
        :border 1px solid #000000
        :background-color #EEEEEE
        :border-bottom none
        :text-decoration none
        :color #000000
        
        &:hover
          :background-color #FFFFFF

    li.current
      :border-bottom 1px solid #FFFFFF
      :background-color #FFFFFF
      
      a
        :background-color #FFFFFF
        :position relative
        :top 1px
        :padding-top 4px
      
h2#page_title
  :display none
  :margin 0
  :padding 10px

#content
  :padding 20px
  
  #messages
    :border 1px solid #999999
    :background-color #EEEEEE
    :padding 10px
    :margin-bottom 10px

  label
    :display block
    
    input
      :display block
      
  table.list
    :width 100%

    th
      :border 0
      :border-bottom 1px solid #000000
      :background-color #DDDDDD
      :padding 3px

    td
      :border 0
      :padding 3px
      :text-align left

    tr.even
      td
        :background-color #EEEEEE

  #games
    :float right
    :width 250px

    h3
      :font-size 13px
      :margin 0
      :padding 0
      :margin-bottom 5px

    .game
      :background-color #EEEEEE
      :margin-bottom 2px

      .team_one
        :float left
        :width 100px
        :text-align right
        :font-size 11px
        :padding-top 7px

      .score
        :float left
        :width 50px
        :font-weight bold
        :text-align center
        :padding-top 5px

      .team_two
        :float left
        :width 100px
        :font-size 11px
        :padding-top 7px

      .played_at
        :width 250px
        :text-align center
        :font-size 11px
        :color #999999
        :padding-bottom 5px
      
#footer
  :padding 10px
  :background-color #EEEEEE
  :border-top 1px solid #000000
  :text-align center
  :clear both
  
.clear
  :clear both
  
  hr
    :display none