#header
  :background-color #DDDDDD
  
  h1
    :margin 0
    :padding 10px
    
  ul#menu
    :margin 0
    :border-bottom 1px solid #000000
    :list-style-type none
    :padding 3px 10px 3px 10px
    
    li
      :display inline
      
      a
        :padding 3px 4px
        :border 1px solid #000000
        :background-color #EEEEEE
        :border-bottom none
        :text-decoration none
        :color #000000
        
        &:hover
          :background-color #FFFFFF

    li.current
      :border-bottom 1px solid #FFFFFF
      :background-color #FFFFFF
      
      a
        :background-color #FFFFFF
        :position relative
        :top 1px
        :padding-top 4px
      
h2#page_title
  :margin 0
  :padding 10px
    
#content
  :padding 10px

  label
    :display block
    
    input
      :display block
      
  table.list
    :width 100%
  
    th
      :border 0
      :border-bottom 1px solid #000000
      :background-color #DDDDDD
      :padding 3px
      :text-align left
      
    td
      :border 0
      :padding 3px
      :text-align left
      
    tr.even
      td
        :background-color #EEEEEE

#footer
  :padding 10px
  :background-color #EEEEEE
  :border-top 1px solid #000000
  :text-align center
  
.clear
  :clear both
  
  hr
    :display none