th
  :text-align left
  
table
  :margin 0

#hd
  :background-color #DDDDDD
  
  h1
    :margin 0
    :padding 20px
    
    a
      :text-decoration none
      :color #000000
   
  #links
    :float right
    :padding 20px

    #user
      :display inline
      :padding-right 10px 
    
    #languages
      :display inline
    
  ul#menu
    :margin 0
    :border-bottom 1px solid #000000
    :list-style-type none
    :padding 3px 20px 3px 20px
    
    li
      :display inline
      
      a
        :padding 3px 4px
        :border 1px solid #000000
        :background-color #EEEEEE
        :border-bottom none
        :text-decoration none
        :color #000000
        
        &:hover
          :background-color #FFFFFF

    li.current
      :border-bottom 1px solid #FFFFFF
      :background-color #FFFFFF
      
      a
        :background-color #FFFFFF
        :position relative
        :top 1px
        :padding-top 4px
      
h2#page_title
  :display none
  :margin 0
  :padding 10px

h3
  :margin 0
  :padding 0

#bd
  :padding-top 20px
  :padding-bottom 20px

  #messages
    :border 1px solid #999999
    :background-color #EEEEEE
    :padding 10px
    :margin-bottom 10px
    
    #notice
    :background-color #CFC
    :border solid 1px #6C6

    #warning
    :background-color #DD9A24
    :border solid 1px #DD9A24

    #error
    :background-color #FCC
    :border solid 1px #C66

  label
    :display block
    
    input
      :display block
      :margin-bottom 10px
      
  table.list
    :width 100%

    th
      :border 0
      :border-bottom 1px solid #000000
      :background-color #DDDDDD
      :padding 3px

    td
      :border 0
      :padding 3px
      :text-align left

    tr.even
      td
        :background-color #EEEEEE

  #games
    h3
      :font-size 13px
      :margin 0
      :padding 0
      :margin-bottom 5px

  .pagination
    :padding-top 10px

  .game
    label
      :font-weight bold

  #new_game
    h3
      :display block
      :margin 0
      :margin-bottom 5px

    label
      :display block
      :padding-bottom 5px

      span
        :display block

      .score
        :margin 0
        :width 2em

      select
        :width 220px

  .columns
    :clear both
    :padding-top 20px

    .left-column
      :float left
      :width 49%
      :padding-right 1%

    .right-column
      :float left
      :width 49%
      :padding-left 1%

  #recent_games
    .members
      :width 40%

    .score
      :width 20%
      :text-align center

  img.team
    :position relative
    :top 2px

  #sidebar
    :width 220px

    #counts
      label
        :font-weight bold

#ft
  :background-color #EEEEEE
  :border-top 1px solid #000000
  :text-align center

  .content
    :padding 10px
  
input#openid_url
  :background white url(/images/openid.gif) no-repeat scroll 0pt 50%
  :padding-left 18px
  
.clear
  :clear both
  
  hr
    :display none