#header {
  background-color: #DDDDDD; }
  #header h1 {
    margin: 0;
    padding: 10px; }
    #header h1 a {
      text-decoration: none;
      color: #000000; }
  #header #languages {
    float: right;
    padding: 10px; }
  #header ul#menu {
    margin: 0;
    border-bottom: 1px solid #000000;
    list-style-type: none;
    padding: 3px 10px 3px 10px; }
    #header ul#menu li {
      display: inline; }
      #header ul#menu li a {
        padding: 3px 4px;
        border: 1px solid #000000;
        background-color: #EEEEEE;
        border-bottom: none;
        text-decoration: none;
        color: #000000; }
        #header ul#menu li a:hover {
          background-color: #FFFFFF; }
    #header ul#menu li.current {
      border-bottom: 1px solid #FFFFFF;
      background-color: #FFFFFF; }
      #header ul#menu li.current a {
        background-color: #FFFFFF;
        position: relative;
        top: 1px;
        padding-top: 4px; }

h2#page_title {
  margin: 0;
  padding: 10px; }

#content {
  padding: 10px; }
  #content label {
    display: block; }
    #content label input {
      display: block; }
  #content table.list {
    width: 100%; }
    #content table.list th {
      border: 0;
      border-bottom: 1px solid #000000;
      background-color: #DDDDDD;
      padding: 3px;
      text-align: left; }
    #content table.list td {
      border: 0;
      padding: 3px;
      text-align: left; }
    #content table.list tr.even td {
      background-color: #EEEEEE; }
  #content table#games td.team_one, #content table#games th.team_one {
    text-align: right; }
  #content table#games td.score, #content table#games th.score {
    text-align: center; }

#footer {
  padding: 10px;
  background-color: #EEEEEE;
  border-top: 1px solid #000000;
  text-align: center; }

.clear {
  clear: both; }
  .clear hr {
    display: none; }
