th {
  text-align: left; }

table {
  margin: 0; }

#layout {
  width: 960px;
  margin-left: auto;
  margin-right: auto; }

#header {
  background-color: #DDDDDD; }
  #header h1 {
    margin: 0;
    padding: 20px; }
    #header h1 a {
      text-decoration: none;
      color: #000000; }
  #header #links {
    float: right;
    padding: 20px; }
    #header #links #user {
      display: inline;
      padding-right: 10px; }
    #header #links #languages {
      display: inline; }
  #header ul#menu {
    margin: 0;
    border-bottom: 1px solid #000000;
    list-style-type: none;
    padding: 3px 20px 3px 20px; }
    #header ul#menu li {
      display: inline; }
      #header ul#menu li a {
        padding: 3px 4px;
        border: 1px solid #000000;
        background-color: #EEEEEE;
        border-bottom: none;
        text-decoration: none;
        color: #000000; }
        #header ul#menu li a:hover {
          background-color: #FFFFFF; }
    #header ul#menu li.current {
      border-bottom: 1px solid #FFFFFF;
      background-color: #FFFFFF; }
      #header ul#menu li.current a {
        background-color: #FFFFFF;
        position: relative;
        top: 1px;
        padding-top: 4px; }

h2#page_title {
  display: none;
  margin: 0;
  padding: 10px; }

#main {
  padding: 20px;
  width: 100%; }
  #main #messages {
    border: 1px solid #999999;
    background-color: #EEEEEE;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #CFC;
    border: solid 1px #6C6;
    background-color: #DD9A24;
    border: solid 1px #DD9A24;
    background-color: #FCC;
    border: solid 1px #C66; }
  #main #game_count {
    padding-top: 20px;
    padding-left: 2px; }
  #main label {
    display: block; }
    #main label input {
      display: block;
      margin-bottom: 10px; }
  #main table.list {
    width: 920px; }
    #main table.list th {
      border: 0;
      border-bottom: 1px solid #000000;
      background-color: #DDDDDD;
      padding: 3px; }
    #main table.list td {
      border: 0;
      padding: 3px;
      text-align: left; }
    #main table.list tr.even td {
      background-color: #EEEEEE; }
  #main #games h3 {
    font-size: 13px;
    margin: 0;
    padding: 0;
    margin-bottom: 5px; }
  #main .pagination {
    padding-top: 10px; }
  #main #new_game h3 {
    display: block;
    margin: 0;
    margin-bottom: 5px; }
  #main #new_game label {
    display: block;
    padding-bottom: 5px; }
    #main #new_game label span {
      display: block; }
    #main #new_game label .score {
      margin: 0;
      width: 2em; }
    #main #new_game label select {
      width: 210px; }
  #main .content_with_sidebar {
    width: 690px;
    float: left; }
    #main .content_with_sidebar table.list {
      width: 690px; }
  #main #sidebar {
    float: right;
    width: 250px; }

#footer {
  padding: 10px;
  background-color: #EEEEEE;
  border-top: 1px solid #000000;
  text-align: center;
  clear: both; }

input#openid_url {
  background: white url(/images/openid.gif) no-repeat scroll 0pt 50%;
  padding-left: 18px; }

.clear {
  clear: both; }
  .clear hr {
    display: none; }
