th {
  text-align: left; }

table {
  margin: 0; }

#hd {
  margin-top: 10px;
  background-color: #3399CC;
  background-image: url('../images/header_right.gif');
  background-repeat: no-repeat;
  background-position: right top; }
  #hd h1 {
    margin: 0;
    padding: 21px;
    padding-top: 14px;
    padding-bottom: 12px;
    background-image: url('../images/header_left.gif');
    background-repeat: no-repeat;
    background-position: left top; }
  #hd #links {
    float: right;
    padding: 21px;
    padding-bottom: 0;
    padding-left: 0;
    color: #FFFFFF; }
    #hd #links a {
      color: #FFFFFF; }
    #hd #links #user {
      display: inline; }
    #hd #links #languages {
      padding-left: 10px;
      display: inline;
      display: none; }
  #hd ul#menu {
    display: block;
    background-color: #77BBDD;
    margin: 0;
    border-top: 1px solid #FFFFFF;
    padding: 21px;
    padding-top: 13px;
    padding-bottom: 3px;
    border-bottom: 1px solid #77BBDD;
    list-style-type: none;
    line-height: normal;
    height: 21px; }
    #hd ul#menu li {
      display: inline;
      float: left;
      background: url('../images/tab_right.gif') no-repeat right top;
      margin-right: 4px; }
      #hd ul#menu li:hover {
        background-image: url('../images/tab_active_right.gif'); }
      #hd ul#menu li a {
        background-color: #3399CC;
        border-bottom: none;
        text-decoration: none;
        color: #FFFFFF;
        font-weight: bold;
        display: block;
        float: left;
        background: url('../images/tab_left.gif') no-repeat left top;
        padding: 5px 15px; }
        #hd ul#menu li a:hover {
          background-image: url('../images/tab_active_left.gif');
          color: #7C7C7C; }
    #hd ul#menu li.current {
      background-image: url('../images/tab_active_right.gif'); }
      #hd ul#menu li.current a {
        background-image: url('../images/tab_active_left.gif');
        color: #7C7C7C; }

h2#page_title {
  display: none;
  margin: 0;
  padding: 10px; }

h3 {
  margin: 0;
  padding: 0; }

#bd {
  padding-top: 20px;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #77BBDD;
  border-top: 0px;
  clear: both; }
  #bd .bottom_space {
    padding-bottom: 20px; }
  #bd #messages {
    border: 1px solid #999999;
    background-color: #EEEEEE;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #CFC;
    border: solid 1px #6C6;
    background-color: #DD9A24;
    border: solid 1px #DD9A24;
    background-color: #FCC;
    border: solid 1px #C66; }
  #bd label {
    display: block; }
    #bd label input {
      display: block;
      margin-bottom: 10px; }
  #bd table.list {
    width: 100%;
    margin-bottom: 20px; }
    #bd table.list th {
      border: 0;
      border-bottom: 1px solid #3399CC;
      background-color: #77BBDD;
      padding: 3px;
      color: #FFFFFF; }
    #bd table.list td {
      border: 0;
      padding: 3px;
      text-align: left; }
    #bd table.list tr.even td {
      background-color: #EEEEEE; }
  #bd #games h3 {
    font-size: 13px;
    margin: 0;
    padding: 0;
    margin-bottom: 5px; }
  #bd #games .score {
    text-align: center; }
  #bd .filter a.clear {
    font-size: 85%; }
  #bd .pagination {
    padding-top: 10px;
    padding-bottom: 10px; }
  #bd .game label {
    font-weight: bold; }
  #bd #new_game h3 {
    display: block;
    margin: 0;
    margin-bottom: 5px; }
  #bd #new_game label {
    display: block;
    padding-bottom: 5px; }
    #bd #new_game label span {
      display: block; }
    #bd #new_game label .score {
      margin: 0;
      width: 2em; }
    #bd #new_game label select {
      width: 220px; }
  #bd .columns {
    clear: both; }
    #bd .columns .left-column {
      float: left;
      width: 49%;
      padding-right: 1%; }
    #bd .columns .right-column {
      float: left;
      width: 49%;
      padding-left: 1%; }
  #bd #recent_games .members {
    width: 40%; }
  #bd #recent_games .score {
    width: 20%;
    text-align: center; }
  #bd #games_per_day .games_played {
    text-align: right; }
  #bd img.team {
    position: relative;
    top: 2px; }
  #bd img.winner {
    position: relative;
    top: 2px; }
  #bd #sidebar {
    width: 220px; }
    #bd #sidebar h2 {
      margin: 0;
      padding: 0;
      font-size: 100%;
      display: block;
      padding: 3px;
      background-color: #77BBDD;
      border-bottom: 1px solid #3399CC;
      margin-bottom: 5px;
      color: #FFFFFF; }
    #bd #sidebar #leader {
      padding: 20px;
      margin-bottom: 20px;
      text-align: center;
      background-color: #EEEEEE;
      border: 1px solid #999999; }
      #bd #sidebar #leader h3 {
        padding: 0;
        margin: 0; }
    #bd #sidebar #counts label {
      font-weight: bold; }
  #bd a.rss {
    text-decoration: none; }
    #bd a.rss img {
      position: relative;
      top: 3px; }

#ft {
  color: #999999;
  text-align: center;
  font-size: 85%; }
  #ft a {
    color: #999999; }
  #ft .content {
    padding: 5px; }

input#openid_url {
  background: white url(/images/openid.gif) no-repeat scroll 0pt 50%;
  padding-left: 18px; }

.clear {
  clear: both; }
  .clear hr {
    display: none; }

.yui-t5 #yui-main .yui-b {
  margin-right: 240px; }
