- title t('users.edit_user'), :show => true

= error_messages_for :user

- form_for @user, :html => { :multipart => true } do |f|
  = render :partial => 'form', :locals => { :f => f }

- if account_admin?
  - content_for :sidebar do
    %h3= t('users.administration')
    %p
      = link_to t('users.remove_user'), user_path(@user), :method => :delete, :confirm => t('users.remove_user_sure')