- title 'Edit user', :show => true

= error_messages_for :user

- form_for @user, :html => { :multipart => true } do |f|
  = render :partial => 'form', :locals => { :f => f }

- if account_admin?
  - content_for :sidebar do
    %h3= 'Administration'
    %p
      = link_to 'Destroy account'[], user_path(@user), :method => :delete