%h1 Welcome to Score Keeper

%p
  Score Keeper is a very simple web app for keeping score, rankings, etc. for matches.
  
%p
  Please note that Score Keeper currently only supports 2-on-2 games so you must have at least 4 users to create a match. Support for 1-on-1 games is planned and will hopefully be available soon.
  
- content_for :sidebar do
  %h2
    Create a new account

  %p
    = 'To create a new account, fill out <a href="{new_account_url}">this form</a>.'[:to_create_an_account, new_account_path]