!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', :lang => "en" }
  %head
    %title= page_title
    %meta{ :http_equiv => 'content-type', :content => 'text/html; charset=utf-8' }
    = stylesheet_link_tag '/iui/iui.css'
    = javascript_include_tag '/iui/iui.js'
  %body
    .toolbar
      %h1#pageTitle
      %a#backButton.button{ :href => '#' }

    = yield